{% extends "base.html" %}
{% block title %}Splash{% endblock %}
{% block content %}
<div>
<p>This <a href="{% url 'pan' %}">Ongoing Baker's Report</a> is updated every 2 hours, starting Mon at 12:55 AM</p>
<p>The last Baker's Report for the week is written either on Tues at 11:55 PM or Wed at 12:55 AM. depending on whether or not it is  Daylight Savings Time.</p>
<p>This <a href="{% url 'harvest' %}">Real Time Report</a> calculates the current orders and takes 2-4 minutes.</p> 
</div>
{% endblock content %}
